body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1351px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:1167px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3952 {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:1167px;
}
#u3953 {
  position:absolute;
  left:2px;
  top:576px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:1092px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3954 {
  position:absolute;
  left:0px;
  top:75px;
  width:197px;
  height:1092px;
}
#u3955 {
  position:absolute;
  left:2px;
  top:538px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:341px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3956 {
  position:absolute;
  left:0px;
  top:75px;
  width:197px;
  height:341px;
}
#u3957 {
  position:absolute;
  left:2px;
  top:162px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:82px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3958 {
  position:absolute;
  left:0px;
  top:283px;
  width:197px;
  height:82px;
}
#u3959 {
  position:absolute;
  left:2px;
  top:33px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:38px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u3962 {
  position:absolute;
  left:0px;
  top:284px;
  width:197px;
  height:38px;
  font-size:14px;
  color:#FFFFFF;
}
#u3963 {
  position:absolute;
  left:2px;
  top:11px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:75px;
  background:inherit;
  background-color:rgba(38, 38, 38, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3964 {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:75px;
}
#u3965 {
  position:absolute;
  left:2px;
  top:30px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:52px;
}
#u3966 {
  position:absolute;
  left:18px;
  top:12px;
  width:161px;
  height:51px;
  font-size:16px;
  color:#999999;
}
#u3967 {
  position:absolute;
  left:2px;
  top:16px;
  width:157px;
  word-wrap:break-word;
}
#u3968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3968 {
  position:absolute;
  left:198px;
  top:28px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3969 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u3973 {
  position:absolute;
  left:1158px;
  top:26px;
  width:22px;
  height:26px;
}
#u3974 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3975 {
  position:absolute;
  left:1170px;
  top:16px;
  width:12px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3976 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u3977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3977 {
  position:absolute;
  left:1221px;
  top:30px;
  width:89px;
  height:16px;
  color:#FFFFFF;
}
#u3978 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u3979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u3979 {
  position:absolute;
  left:1200px;
  top:32px;
  width:1px;
  height:16px;
}
#u3980 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u3981 {
  position:absolute;
  left:1314px;
  top:34px;
  width:13px;
  height:8px;
}
#u3982 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3983 {
  position:absolute;
  left:55px;
  top:163px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3984 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3985 {
  position:absolute;
  left:55px;
  top:103px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3986 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:2px;
}
#u3987 {
  position:absolute;
  left:18px;
  top:143px;
  width:170px;
  height:1px;
}
#u3988 {
  position:absolute;
  left:2px;
  top:-8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u3989 {
  position:absolute;
  left:160px;
  top:168px;
  width:9px;
  height:7px;
}
#u3990 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3991 {
  position:absolute;
  left:26px;
  top:101px;
  width:20px;
  height:20px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3993 {
  position:absolute;
  left:55px;
  top:296px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3995 {
  position:absolute;
  left:55px;
  top:337px;
  width:117px;
  height:16px;
  color:#FFFFFF;
}
#u3996 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u3997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u3997 {
  position:absolute;
  left:22px;
  top:155px;
  width:28px;
  height:28px;
}
#u3998 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3999 {
  position:absolute;
  left:55px;
  top:207px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u4000 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4001 {
  position:absolute;
  left:55px;
  top:251px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u4002 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u4003 {
  position:absolute;
  left:160px;
  top:215px;
  width:9px;
  height:7px;
}
#u4004 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u4005 {
  position:absolute;
  left:160px;
  top:257px;
  width:9px;
  height:7px;
}
#u4006 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4007 {
  position:absolute;
  left:23px;
  top:202px;
  width:26px;
  height:26px;
}
#u4008 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4009 {
  position:absolute;
  left:22px;
  top:244px;
  width:26px;
  height:26px;
}
#u4010 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4011 {
  position:absolute;
  left:297px;
  top:157px;
  width:970px;
  height:136px;
}
#u4012 {
  position:absolute;
  left:2px;
  top:60px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u4013 {
  position:absolute;
  left:402px;
  top:326px;
  width:140px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u4014 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1058px;
  height:2px;
}
#u4015 {
  position:absolute;
  left:254px;
  top:366px;
  width:1057px;
  height:1px;
}
#u4016 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1053px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4017 {
  position:absolute;
  left:262px;
  top:327px;
  width:140px;
  height:40px;
  font-size:14px;
}
#u4018 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:736px;
}
#u4019 {
  position:absolute;
  left:254px;
  top:395px;
  width:1052px;
  height:735px;
  color:#CCCCCC;
}
#u4020 {
  position:absolute;
  left:2px;
  top:360px;
  width:1048px;
  word-wrap:break-word;
}
#u4021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4021 {
  position:absolute;
  left:1197px;
  top:178px;
  width:68px;
  height:35px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-size:18px;
}
#u4022 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u4023_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:19px;
}
#u4023 {
  position:absolute;
  left:221px;
  top:96px;
  width:2px;
  height:16px;
}
#u4024 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4025 {
  position:absolute;
  left:233px;
  top:96px;
  width:57px;
  height:16px;
}
#u4026 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:2px;
}
#u4027 {
  position:absolute;
  left:233px;
  top:132px;
  width:1098px;
  height:1px;
}
#u4028 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1094px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:26px;
}
#u4029 {
  position:absolute;
  left:299px;
  top:91px;
  width:88px;
  height:26px;
}
#u4030 {
  position:absolute;
  left:2px;
  top:5px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4031 {
  position:absolute;
  left:589px;
  top:174px;
  width:384px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4032 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  white-space:nowrap;
}
#u4033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF6666;
}
#u4033 {
  position:absolute;
  left:615px;
  top:206px;
  width:332px;
  height:15px;
  font-size:12px;
  color:#FF6666;
}
#u4034 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  white-space:nowrap;
}
#u4035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4035 {
  position:absolute;
  left:581px;
  top:233px;
  width:404px;
  height:16px;
  color:#666666;
}
#u4036 {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  word-wrap:break-word;
}
#u4037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u4037 {
  position:absolute;
  left:581px;
  top:260px;
  width:401px;
  height:16px;
  color:#0033FF;
}
#u4038 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
#u4039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u4039 {
  position:absolute;
  left:544px;
  top:326px;
  width:140px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u4040 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4041 {
  position:absolute;
  left:55px;
  top:383px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u4042 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:7px;
}
#u4043 {
  position:absolute;
  left:160px;
  top:388px;
  width:9px;
  height:7px;
}
#u4044 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
}
#u4045 {
  position:absolute;
  left:6px;
  top:378px;
  width:41px;
  height:25px;
}
#u4046 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
